<!doctype html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Applause Button</title>

  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <meta name="viewport" content="width=device-width">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <link rel="stylesheet" href="dist/style.css" />
  <style>
    applause-button {
      width: 120px;
      height: 120px;
      margin-top: 70px;
      margin-left: 40px;
      font-size: 25px;
    }
  </style>
  <script src="dist/applause-button.js"></script>
</head>

<body>
  <div class="wrapper">
    <header>
      <p>{{ site.description | default: site.github.project_tagline }}</p>
      <p class="view">
        <a href="{{ site.github.repository_url }}">View the Project on GitHub
          <small>{{ github_name }}</small>
        </a>
      </p>
      <applause-button color="green" multiclap="true"></applause-button>
      <br/>
      <br/>
    </header>
    <section>
      {{ content }}
    </section>
    <footer>
      {% if site.github.is_project_page %}
      <p>This project is maintained by
        <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
      </p>
      {% endif %}
      <p>
        <small>Hosted on GitHub Pages &mdash; Theme by
          <a href="https://github.com/orderedlist">orderedlist</a>
        </small>
      </p>
    </footer>
  </div>
  <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
</body>

</html>